<?xml version="1.0"?>

<configuration>
    <system.web>
        <authentication mode="Forms">
            <forms loginUrl="login.aspx" name=".ASPXFORMSAUTH" />
        </authentication>
        <authorization>
            <deny users="?" />
        </authorization>
        
        <httpModules>
            <add name="ExampleModule" type="YouMayAlready.HttpModuleExample.Modules.ExampleHttpModule" />
        </httpModules>
    </system.web>

    <!-- IIS 7+ -->
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false"/>
        <modules>
            <add name="ExampleModule" type="YouMayAlready.HttpModuleExample.Modules.ExampleHttpModule" preCondition="managedHandler" />
        </modules>
    </system.webServer>
</configuration>
